[submodule "src/mvsdk"]
	path = src/mvsdk
	url = https://github.com/TomArrow/mvsdk.git
[submodule "libs/mariadb-connector-cpp"]
	path = libs/mariadb-connector-cpp
	url = https://github.com/TomArrow/mariadb-connector-cpp
